<!DOCTYPE html>
<html>
  <head>
    <title>Nada</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/favicon' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- if content_for?(:header) %>
      <%= content_for(:header) %>
    <%- else %>
      <%= render 'layouts/header' %>
    <%- end %>
    <div class="full-width-image__background">
      <div class="container pv--2">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
